<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"    
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
    	<title>Login</title>
    </h:head>
    <h:body>
    	<h1>New User</h1>
    	<p>Welcome #{user.userName} !</p>
    </h:body>
</html>