<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<title>Welcome</title>
		<link type="text/css" rel="stylesheet" href="css/design.css" />
    </h:head>
    <h:body>
    	<h1>Welcome on project #1</h1>
		<h2>Main news</h2>
		<h:outputText>
		... ... ... <br />
		... ... ... <br />
		... ... ... <br />
		... ... ... <br />
		</h:outputText>
    	<h2>You are not identified, let's do it !</h2>
		<h:form>
			<fieldset>
			<legend>No account ?</legend>
			<h:outputLabel for="name">Name<span class="requested">*</span></h:outputLabel>
	        <h:inputText id="name" value="#{S_Subscription.user.name}" required="true" size="20" maxlength="60" />
	        <h:message id="nameMessage" for="name" errorClass="error" />
	        <br />
			<h:outputLabel value="First Name" />
			<h:inputText value="#{user.firstName}" />
			<br/>
			<h:outputLabel value="Username" />
			<h:inputText value="#{user.userName}" />
			<br />
			<h:outputLabel value="Password" />
			<h:inputSecret value="#{user.userPassword}" />
			<br />
			<h:commandButton value="Create Your Account" action="#{s_Subscription.register}" />
			</fieldset>
		</h:form>	
		<h:form>
			<fieldset>
			<legend>Of course you got your account !</legend>	
			<h:outputLabel value="Username" />
			<h:inputText value="#{user.userName}" />
			<br/>
			<h:outputLabel value="Password" />
			<h:inputSecret value="#{user.userPassword}" />
			<br/>
			<h:commandButton value="Log in" action="login" />
			</fieldset>
		</h:form>
		<h:outputText>
		<br />
		<br />
		</h:outputText>
		<h2>Links and Support</h2>
		<h:outputText>
		... ... ... <br />
		... ... ... <br />
		</h:outputText>
	</h:body>
</html>